/* Style for the pulsating dot */
li { list-style-type: none; }

/* Style for the pulsating curly brace at the start */
li::before {
    content: "{";
    position: absolute;
    left: -.75rem;
}

/* Style for the pulsating curly brace at the end */
li::after {
    content: "}";
    position: absolute;
    right: -.75rem;
}